:root {
    --main-dark-color: #283044;
    --white-color: #EEE4E1;
    --purple-color: #713E5A;
    --beige-color: #E7D8C9;
    --light-color: #BCABAE;
}


.app_store {
    padding: 48px;
    display:flex;
    flex-wrap: wrap;
    background: var(--light-color);
    justify-content: space-between;
}

.app_wrapper {
    margin: 24px 38px; 
    width: 300px;
    box-sizing: border-box;
    flex-basis: calc(-50%-16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--beige-color);
    color: var(--purple-color);
    padding: 16px;
    box-shadow: 0 10px 20px var(--light-color), 0 6px 6px rgba(0,0,0,23);
    justify-content: space-around;
}

.like_button {
    background-color: var(--beige-color);
    font-family: 'Josefin Slab', serif;
    height: 100px;
    width: 200px;
    font-size: 40px;
    color: var(--purple-color);
    border: 5px solid var(--light-color);
}

.like_button:hover {
    border: 5px solid var(--purple-color);
    background-color: var(--light-color);
}

.app_poster {
    width: 80%;
    max-width: 160px;
    object-fit: contain;
    margin: 38px;
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

@media screen and (max-width: 750px) {
    .app_wrapper {
        flex-basis: calc(100%-16px);
    }
}