:root {
    --main-dark-color: #283044;
    --white-color: #EEE4E1;
    --purple-color: #713E5A;
    --beige-color: #E7D8C9;
    --light-color: #BCABAE;
}

  
li {
    display: flex;


}

section {
    padding: 1em;
    justify-content: flex-start;
    background-color: #BCABAE;
    
}

p {
    color: var(--beige-color);
    margin-right: 2em;
}

button {
background: url(/dislike.png);
height: 100px;
width: 100px;
border: none;
}

.fav_item {
padding: 16px 32 px;
display: flex;
justify-content: space-evenly;
align-items:center;
text-align: center;
}

